@import "../styles/layout.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-[#FFFFFF] text-[#0F0F0F];
}

html.dark {
  @apply bg-[#0F0F0F] text-[#FFFFFF];
}

body {
  font-family: "Pretendard", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  min-width: 350px;
  background-color: inherit;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  @apply scroll-m-24;
}
