@import "../styles/layout.css";
@import "./fonts.css";
@import "prismjs/themes/prism-tomorrow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-[#FFFFFF] text-[#0F0F0F];
}

html.dark {
  @apply bg-[#0F0F0F] text-[#FFFFFF];
}

body {
  font-family: "Pretendard", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  min-width: 350px;
  background-color: inherit;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  @apply scroll-m-24;
}

/* 애니메이션 */

@keyframes move-face {
  0% {
    transform: translate(0px, 0px);
  }
  16% {
    transform: translate(-1px, -1px);
  }
  33.34% {
    transform: translate(-2px, 0px);
  }
  50% {
    transform: translate(0px, -1px);
  }
  66.67% {
    transform: translate(2px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.move-face {
  animation: move-face 8s linear infinite;
}
